In [1]:
%pip install ipython-sql
%pip install sqlalchemy
%pip install pandas
%pip install mysql-connector-python
%pip install pymysql
%pip install cryptography

Requirement already satisfied: ipython-sql in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ipython-sql) (3.10.2)
Requirement already satisfied: ipython in /Users/Akshay/Library/Python/3.12/lib/python/site-packages (from ipython-sql) (8.23.0)
Requirement already satisfied: sqlalchemy>=2.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ipython-sql) (2.0.31)
Requirement already satisfied: sqlparse in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in /Users/Akshay/Library/Python/3.12/lib/python/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in /Users/Akshay/Library/Python/3.12/lib/python/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/Akshay/Library/Python/3.12/lib/python/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /Users/Akshay/Library/Python/3.12/lib/python/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /Users/Akshay/Library/Python/3.12/lib/python/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /Users/Akshay/Library/Python/3.12/lib/python/site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in /Users/Akshay/Library/Python/3.12/lib/python/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /Users/Akshay/Library/Python/3.12/lib/python/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /Users/Akshay/Library/Python/3.12/lib/python/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /Users/Akshay/Library/Python/3.12/lib/python/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /Users/Akshay/Library/Python/3.12/lib/python/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /Users/Akshay/Library/Python/3.12/lib/python/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /Users/Akshay/Library/Python/3.12/lib/python/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /Users/Akshay/Library/Python/3.12/lib/python/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /Users/Akshay/Library/Python/3.12/lib/python/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: sqlalchemy in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.0.31)
Requirement already satisfied: typing-extensions>=4.6.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from sqlalchemy) (3.0.3)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/Akshay/Library/Python/3.12/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/Akshay/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: mysql-connector-python in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (9.0.0)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pymysql in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (1.1.1)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: cryptography in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (43.0.0)
Requirement already satisfied: cffi>=1.12 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from cryptography) (1.16.0)
Requirement already satisfied: pycparser in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from cffi>=1.12->cryptography) (2.22)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
%reload_ext sql

from sqlalchemy import create_engine

connection_string = "mysql+pymysql://akshayvaithi:Akshay123@localhost:3306/av763proj"

%sql {connection_string}

In [8]:
query = """

"""

%sql {query} CREATE TABLE Customers ( \
    customerId INT NOT NULL, \
    firstName VARCHAR(50) NOT NULL, \
    lastName VARCHAR(50) NOT NULL, \
    username VARCHAR(50) NOT NULL, \
    password VARCHAR(50) NOT NULL, \
    emailAddress VARCHAR(320) NULL, \
    phoneNumber VARCHAR(10) NULL)

 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
(pymysql.err.OperationalError) (1050, "Table 'customers' already exists")
[SQL: CREATE TABLE Customers ( customerId INT NOT NULL, firstName VARCHAR(50) NOT NULL, lastName VARCHAR(50) NOT NULL, username VARCHAR(50) NOT NULL, password VARCHAR(50) NOT NULL, emailAddress VARCHAR(320) NULL, phoneNumber VARCHAR(10) NULL)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Creates the customers table.

In [32]:
query = """

"""
%sql {query} CREATE TABLE Orders ( \
    orderId INT NOT NULL, \
    customerId INT NOT NULL, \
    orderDate DATE NOT NULL, \
    totalPrice DECIMAL(50,2) NOT NULL)

 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
(pymysql.err.OperationalError) (1050, "Table 'orders' already exists")
[SQL: CREATE TABLE Orders ( orderId INT NOT NULL, customerId INT NOT NULL, orderDate DATE NOT NULL, totalPrice DECIMAL(50,2) NOT NULL)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Creates the orders table.

In [33]:
query = """

"""
%sql {query} CREATE TABLE Payments ( \
    paymentId INT NOT NULL, \
    customerId INT NOT NULL, \
    paymentMethodId INT NOT NULL, \
    creditCardNumber VARCHAR(16) NOT NULL, \
    nameOnCard VARCHAR(100) NOT NULL, \
    expirationDate VARCHAR(7) NOT NULL)

 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
(pymysql.err.OperationalError) (1050, "Table 'payments' already exists")
[SQL: CREATE TABLE Payments ( paymentId INT NOT NULL, customerId INT NOT NULL, paymentMethodId INT NOT NULL, creditCardNumber VARCHAR(16) NOT NULL, nameOnCard VARCHAR(100) NOT NULL, expirationDate VARCHAR(7) NOT NULL)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Creates the payments table.

In [85]:
query = """

"""
%sql {query} CREATE TABLE Products ( \
    productId INT NOT NULL, \
    productName VARCHAR(50) NOT NULL, \
    productUnitPrice DECIMAL(50,2) NOT NULL, \
    productDescription VARCHAR(1000) NULL, \
    productCategory VARCHAR(50) NULL)

 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
0 rows affected.

[]

Creates the products table.

In [50]:
query = """

"""
%sql {query} CREATE TABLE Shipments ( \
    shipmentId INT NOT NULL, \
    orderId INT NOT NULL, \
    street VARCHAR(100) NOT NULL, \
    city VARCHAR(100) NOT NULL, \
    stateId INT NOT NULL, \
    zipCode INT NOT NULL, \
    shippingServiceId INT NOT NULL, \
    shippingMethodId INT NOT NULL, \
    shipmentDate DATE NULL, \
    deliveryDate DATE NULL)

 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
0 rows affected.

[]

Creates the shipments table.

In [36]:
query = """

"""
%sql {query} CREATE TABLE itemsInOrder ( \
    orderId INT NOT NULL, \
    orderItem INT NOT NULL, \
    productId INT NOT NULL, \
    itemPrice DECIMAL(50,2) NOT NULL, \
    quantity INT NOT NULL)

 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
(pymysql.err.OperationalError) (1050, "Table 'itemsinorder' already exists")
[SQL: CREATE TABLE itemsInOrder ( orderId INT NOT NULL, orderItem INT NOT NULL, productId INT NOT NULL, itemPrice DECIMAL(50,2) NOT NULL, quantity INT NOT NULL)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Creates the itemsInOrder table.

In [37]:
query = """

"""
%sql {query} CREATE TABLE PaymentMethods ( \
    paymentMethodId INT NOT NULL, \
    paymentMethod VARCHAR(100) NOT NULL)

 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
(pymysql.err.OperationalError) (1050, "Table 'paymentmethods' already exists")
[SQL: CREATE TABLE PaymentMethods ( paymentMethodId INT NOT NULL, paymentMethod VARCHAR(100) NOT NULL)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Creates the PaymentMethods table.

In [38]:
query = """

"""
%sql {query} CREATE TABLE States ( \
    stateId INT NOT NULL, \
    state VARCHAR(2) NOT NULL)

 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
0 rows affected.

[]

Create the States table.

In [42]:
query = """

"""
%sql {query} CREATE TABLE ShippingServices ( \
    shippingServiceId INT NOT NULL, \
    shippingService VARCHAR(100) NOT NULL)

 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
(pymysql.err.OperationalError) (1050, "Table 'shippingservices' already exists")
[SQL: CREATE TABLE ShippingServices ( shippingServiceId INT NOT NULL, shippingService VARCHAR(100) NOT NULL)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Creates the ShippingServices table.

In [41]:
query = """

"""
%sql {query} CREATE TABLE ShippingMethods ( \
    shippingMethodId INT NOT NULL, \
    shippingMethod VARCHAR(100) NOT NULL)

 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
0 rows affected.

[]

Creates the ShippingMethods table.

In [92]:
query = """

"""
%sql {query} ALTER TABLE Customers ADD PRIMARY KEY (customerId)
%sql {query} ALTER TABLE Orders ADD PRIMARY KEY (orderId)
%sql {query}ALTER TABLE Payments ADD PRIMARY KEY (paymentId)
%sql {query}ALTER TABLE Products ADD PRIMARY KEY (productId)
%sql {query}ALTER TABLE Shipments ADD PRIMARY KEY (shipmentId)
%sql {query}ALTER TABLE itemsInOrder ADD PRIMARY KEY (orderId, orderItem)
%sql {query}ALTER TABLE PaymentMethods ADD PRIMARY KEY (paymentMethodId)
%sql {query}ALTER TABLE States ADD PRIMARY KEY (stateId)
%sql {query}ALTER TABLE ShippingServices ADD PRIMARY KEY (shippingServiceId)
%sql {query}ALTER TABLE ShippingMethods ADD PRIMARY KEY (shippingMethodId)

 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
(pymysql.err.OperationalError) (1068, 'Multiple primary key defined')
[SQL: ALTER TABLE Customers ADD PRIMARY KEY (customerId)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
(pymysql.err.OperationalError) (1068, 'Multiple primary key defined')
[SQL: ALTER TABLE Orders ADD PRIMARY KEY (orderId)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
(pymysql.err.OperationalError) (1068, 'Multiple primary key defined')
[SQL: ALTER TABLE Payments ADD PRIMARY KEY (paymentId)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
0 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
(pymysql.err.OperationalError) (1068, 'Multiple primary key defined')
[SQL: ALTER TABLE Shipments ADD PRIMARY KEY (shipmentId)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
(pymysql.err.OperationalError) (1068, 'Multiple primary key defined')
[SQL: ALTER TABLE itemsInOrder ADD PRIMARY KEY (orderId, orderItem)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
(pymysql.err.OperationalError) (1068, 'Multiple primary key defined')
[SQL: ALTER TABLE PaymentMethods ADD PRIMARY KEY (paymentMethodId)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
(pymysql.err.OperationalError) (1068, 'Multiple primary key defined')
[SQL: ALTER TABLE States ADD PRIMARY KEY (stateId)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
(pymysql.err.OperationalError) (1068, 'Multiple primary key defined')
[SQL: ALTER TABLE ShippingServices ADD PRIMARY KEY (shippingServiceId)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
(pymysql.err.OperationalError) (1068, 'Multiple primary key defined')
[SQL: ALTER TABLE ShippingMethods ADD PRIMARY KEY (shippingMethodId)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Defines the primary keys for all of the tables.

In [93]:
query = """

"""

%sql {query} ALTER TABLE Orders ADD CONSTRAINT FK_Orders_Customers FOREIGN KEY (customerId) REFERENCES Customers (customerId)
%sql {query} ALTER TABLE Payments ADD CONSTRAINT FK_Payments_Customers FOREIGN KEY (customerId) REFERENCES Customers (customerId)
%sql {query} ALTER TABLE Payments ADD CONSTRAINT FK_Payments_PaymentMethods FOREIGN KEY (paymentMethodId) REFERENCES PaymentMethods (paymentMethodId)
%sql {query} ALTER TABLE Shipments ADD CONSTRAINT FK_Shipments_Orders FOREIGN KEY (orderId) REFERENCES Orders (orderId)
%sql {query} ALTER TABLE Shipments ADD CONSTRAINT FK_Shipments_States FOREIGN KEY (stateId) REFERENCES States (stateId)
%sql {query} ALTER TABLE Shipments ADD CONSTRAINT FK_Shipments_ShippingServices FOREIGN KEY (shippingServiceId) REFERENCES ShippingServices (shippingServiceId)
%sql {query} ALTER TABLE Shipments ADD CONSTRAINT FK_Shipments_ShippingMethods FOREIGN KEY (shippingMethodId) REFERENCES ShippingMethods (shippingMethodId)
%sql {query} ALTER TABLE itemsInOrder ADD CONSTRAINT FK_itemsInOrder_Products FOREIGN KEY (productId) REFERENCES Products (productId)
%sql {query} ALTER TABLE itemsInOrder ADD CONSTRAINT FK_itemsInOrder_Orders FOREIGN KEY (orderId) REFERENCES Orders (orderId)

 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
(pymysql.err.OperationalError) (1826, "Duplicate foreign key constraint name 'FK_Orders_Customers'")
[SQL: ALTER TABLE Orders ADD CONSTRAINT FK_Orders_Customers FOREIGN KEY (customerId) REFERENCES Customers (customerId)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
(pymysql.err.OperationalError) (1826, "Duplicate foreign key constraint name 'FK_Payments_Customers'")
[SQL: ALTER TABLE Payments ADD CONSTRAINT FK_Payments_Customers FOREIGN KEY (customerId) REFERENCES Customers (customerId)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
(pymysql.err.OperationalError) (1826, "Duplicate foreign key constraint name 'FK_Payments_PaymentMethods'")
[SQL: ALTER TABLE Payments ADD CONSTRAINT FK_Payments_PaymentMethods FOREIGN KEY (paymentMethodId) REFERENCES PaymentMethods (paymentMethodId)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
(pymysql.err.OperationalError) (1826, "Duplicate foreign key constraint name 'FK_Shipments_Orders'")
[SQL: ALTER TABLE Shipments ADD CONSTRAINT FK_Shipments_Orders FOREIGN KEY (orderId) REFERENCES Orders (orderId)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
(pymysql.err.OperationalError) (1826, "Duplicate foreign key constraint name 'FK_Shipments_States'")
[SQL: ALTER TABLE Shipments ADD CONSTRAINT FK_Shipments_States FOREIGN KEY (stateId) REFERENCES States (stateId)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
(pymysql.err.OperationalError) (1826, "Duplicate foreign key constraint name 'FK_Shipments_ShippingServices'")
[SQL: ALTER TABLE Shipments ADD CONSTRAINT FK_Shipments_ShippingServices FOREIGN KEY (shippingServiceId) REFERENCES ShippingServices (shippingServiceId)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
(pymysql.err.OperationalError) (1826, "Duplicate foreign key constraint name 'FK_Shipments_ShippingMethods'")
[SQL: ALTER TABLE Shipments ADD CONSTRAINT FK_Shipments_ShippingMethods FOREIGN KEY (shippingMethodId) REFERENCES ShippingMethods (shippingMethodId)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
15 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
(pymysql.err.OperationalError) (1826, "Duplicate foreign key constraint name 'FK_itemsInOrder_Orders'")
[SQL: ALTER TABLE itemsInOrder ADD CONSTRAINT FK_itemsInOrder_Orders FOREIGN KEY (orderId) REFERENCES Orders (orderId)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Defines the foreign keys for all of the tables.

In [60]:
query = """

"""
%sql {query} INSERT INTO Customers(customerId, firstName, lastName, username, password, emailAddress, phoneNumber) VALUES ( 1001, 'Emma', 'Thompson', 'emmathom', 'Emma@123',  'emma.thompson@gmail.com', '3018794625')
%sql {query} INSERT INTO Customers (customerId, firstName, lastName, username, password, emailAddress, phoneNumber) VALUES ( 1002, 'Alexander', 'Lee', 'alexlee', 'Alex@123',  'alexander.lee@gmail.com', '3015432198')
%sql {query} INSERT INTO Customers (customerId, firstName, lastName, username, password, emailAddress, phoneNumber) VALUES ( 1003, 'Sophia', 'Patel', 'sophiapat', 'Sophia@123',  'sophia.patel@gmail.com', '3018576043')
%sql {query} INSERT INTO Customers (customerId, firstName, lastName, username, password, emailAddress, phoneNumber) VALUES ( 1004, 'Lucas', 'Garcia', 'lucasgar', 'Lucas@123',  'lucas.garcia@gmail.com', '6176248173')
%sql {query} INSERT INTO Customers (customerId, firstName, lastName, username, password, emailAddress, phoneNumber) VALUES ( 1005, 'Olivia', 'Williams', 'oliviawill', 'Olivia@123',  'olivia.williams@gmail.com', '6173859267')

 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
(pymysql.err.IntegrityError) (1062, "Duplicate entry '1001' for key 'customers.PRIMARY'")
[SQL: INSERT INTO Customers(customerId, firstName, lastName, username, password, emailAddress, phoneNumber) VALUES ( 1001, 'Emma' , 'Thompson' , 'emmathom' , 'Emma@123' , 'emma.thompson@gmail.com' , '3018794625' )]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.

[]

Inserts sample data for the Customers table.

In [62]:
query = """

"""
%sql {query} INSERT INTO Orders (orderId, customerId, orderDate, totalPrice) VALUES ( 2001, 1001, '2023-06-15', 19.99)
%sql {query} INSERT INTO Orders (orderId, customerId, orderDate, totalPrice) VALUES ( 2002, 1002, '2023-08-17', 79.97)
%sql {query} INSERT INTO Orders (orderId, customerId, orderDate, totalPrice) VALUES ( 2003, 1003, '2024-06-19', 199.94)
%sql {query} INSERT INTO Orders (orderId, customerId, orderDate, totalPrice) VALUES ( 2004, 1004, '2024-06-23', 399.9)
%sql {query} INSERT INTO Orders (orderId, customerId, orderDate, totalPrice) VALUES ( 2005, 1005, '2024-08-21', 699.85)

 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.

[]

Inserts sample data for the Orders table.

In [86]:
query = """

"""
%sql {query} INSERT INTO Products (productId, productName, productUnitPrice, productDescription, productCategory) VALUES ( 3001, 'The Housemaid is Watching', 19.99, 'From New York Times, USA Today and Wall Street Journal bestselling author Freida McFadden comes the next installment of the unbelievably twisty, tension-packed and globally bestselling Housemaid series.', 'Books')
%sql {query} INSERT INTO Products (productId, productName, productUnitPrice, productDescription, productCategory) VALUES ( 3002, 'A Court of Thorns and Roses', 19.99, 'From bestselling author Sarah J. Maas comes a seductive, breathtaking book that blends romance, adventure, and faerie lore into an unforgettable read.', 'Books')
%sql {query} INSERT INTO Products (productId, productName, productUnitPrice, productDescription, productCategory) VALUES ( 3003, 'A Game of Thrones 5-Book Boxed Set', 29.99, 'For the first time, all five novels in the epic fantasy series that inspired HBO’s Game of Thrones are together in one eBook bundle.', 'Books')
%sql {query} INSERT INTO Products (productId, productName, productUnitPrice, productDescription, productCategory) VALUES ( 3004, 'Milk-Bone Original Dog Treats for Medium Dogs', 19.99, 'Wholesome and tasty dog treats - now with even more meaty taste compared to the Milk-Bone Original biscuits you know and love.', 'Pet Supplies')
%sql {query} INSERT INTO Products (productId, productName, productUnitPrice, productDescription, productCategory) VALUES ( 3005, 'Greenies Original Natural Dental Care Treats', 29.99, 'One Greenies dental treat a day is all it takes for clean teeth, fresh breath, and a happy dog.', 'Pet Supplies')
%sql {query} INSERT INTO Products (productId, productName, productUnitPrice, productDescription, productCategory) VALUES ( 3006, 'Zesty Paws Dog Allergy Relief', 39.99, 'Made with premium ingredients that support digestion, immune function, and seasonal allergies, these chews are great for your doggie.', 'Pet Supplies')
%sql {query} INSERT INTO Products (productId, productName, productUnitPrice, productDescription, productCategory) VALUES ( 3007, 'JOGAL Mens Floral Hawaiian Shirt', 19.99, 'Regular fit, short sleeve Button Down Shirt.', 'Clothing, Shoes & Jewelry')
%sql {query} INSERT INTO Products (productId, productName, productUnitPrice, productDescription, productCategory) VALUES ( 3008, 'Wrangler Men''s Classic Cargo Stretch Short', 29.99, 'Built for versatility and comfort, this classic cargo short takes you from the outdoors to work, to every day with this timeless silhouette.', 'Clothing, Shoes & Jewelry')
%sql {query} INSERT INTO Products (productId, productName, productUnitPrice, productDescription, productCategory) VALUES ( 3009, 'Haggar Men''s Premium No Iron Khaki', 39.99, 'Stretchable cotton-blend fabric, hidden expandable waistband and permanent crease will keep you looking sharp and comfortable.', 'Clothing, Shoes & Jewelry')
%sql {query} INSERT INTO Products (productId, productName, productUnitPrice, productDescription, productCategory) VALUES ( 3010, 'GHOST Whey Protein Powder, Chips Ahoy', 49.99, 'Versatile and Delicious: GHOST Whey x Chips Ahoy! combines a premium, fully disclosed whey protein blend, a few digestive enzymes, and real Chips Ahoy! cookie pieces in every scoop for a flavor that is second to none. 26 servings.', 'Grocery & Gourmet Food')
%sql {query} INSERT INTO Products (productId, productName, productUnitPrice, productDescription, productCategory) VALUES ( 3011, 'Honey Stinger Organic Honey Waffle', 19.99, 'The Honey waffle has a thin layer of honey-infused filling sandwiched between two thin waffles. The perfect combo of gooey filling and crispy waffle, it’s the fuel you’ll crave while on-the-go.', 'Grocery & Gourmet Food')
%sql {query} INSERT INTO Products (productId, productName, productUnitPrice, productDescription, productCategory) VALUES ( 3012, 'UNREAL Dark Chocolate Coconut Bars', 29.99, 'ONLY 3g OF SUGAR & 3 SIMPLE INGREDIENTS: organic coconut, organic cassava syrup, and dark chocolate.', 'Grocery & Gourmet Food')
%sql {query} INSERT INTO Products (productId, productName, productUnitPrice, productDescription, productCategory) VALUES ( 3013, 'Uncharted: Legacy of Thieves (Remastered)', 39.99, 'Discover lost history with the charismatic yet complex thieves, Nathan Drake and Chloe Frazer, as they travel the world with a sense of wonder, pursuing extraordinary adventures and lost lore.', 'Video Games')
%sql {query} INSERT INTO Products (productId, productName, productUnitPrice, productDescription, productCategory) VALUES ( 3014, 'The Last of Us Part II Remastered', 49.99, 'Relive or play for the first time Ellie and Abby''s story, now with graphical enhancements, new gameplay modes like the roguelike survival experience No Return, full DualSense® wireless controller integration, and more.', 'Video Games')
%sql {query} INSERT INTO Products (productId, productName, productUnitPrice, productDescription, productCategory) VALUES ( 3015, 'Marvel''s Spider-Man 2', 59.99, 'Swing, jump and utilize the new Web Wings to travel across Marvel''s New York, quickly switching between Peter Parker and Miles Morales to experience different stories and epic new powers, as the iconic villain Venom threatens to destroy their lives, their city and the ones they love.', 'Video Games')

 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.

[]

Inserts sample data for the Products table.

In [88]:
query = """

"""
%sql {query} INSERT INTO itemsInOrder (orderId, orderItem, productId, itemPrice, quantity) VALUES ( 2001, 1, 3001, 19.99, 1)
%sql {query} INSERT INTO itemsInOrder (orderId, orderItem, productId, itemPrice, quantity) VALUES ( 2002, 1, 3002, 19.99, 1)
%sql {query} INSERT INTO itemsInOrder (orderId, orderItem, productId, itemPrice, quantity) VALUES ( 2002, 2, 3003, 59.98, 2)
%sql {query} INSERT INTO itemsInOrder (orderId, orderItem, productId, itemPrice, quantity) VALUES ( 2003, 1, 3004, 19.99, 1)
%sql {query} INSERT INTO itemsInOrder (orderId, orderItem, productId, itemPrice, quantity) VALUES ( 2003, 2, 3005, 59.98, 2)
%sql {query} INSERT INTO itemsInOrder (orderId, orderItem, productId, itemPrice, quantity) VALUES ( 2003, 3, 3006, 119.97, 3)
%sql {query} INSERT INTO itemsInOrder (orderId, orderItem, productId, itemPrice, quantity) VALUES ( 2004, 1, 3007, 19.99, 1)
%sql {query} INSERT INTO itemsInOrder (orderId, orderItem, productId, itemPrice, quantity) VALUES ( 2004, 2, 3008, 59.98, 2)
%sql {query} INSERT INTO itemsInOrder (orderId, orderItem, productId, itemPrice, quantity) VALUES ( 2004, 3, 3009, 119.97, 3)
%sql {query} INSERT INTO itemsInOrder (orderId, orderItem, productId, itemPrice, quantity) VALUES ( 2004, 4, 3010, 199.96, 4)
%sql {query} INSERT INTO itemsInOrder (orderId, orderItem, productId, itemPrice, quantity) VALUES ( 2005, 1, 3011, 19.99, 1)
%sql {query} INSERT INTO itemsInOrder (orderId, orderItem, productId, itemPrice, quantity) VALUES ( 2005, 2, 3012, 59.98, 2)
%sql {query} INSERT INTO itemsInOrder (orderId, orderItem, productId, itemPrice, quantity) VALUES ( 2005, 3, 3013, 119.97, 3)
%sql {query} INSERT INTO itemsInOrder (orderId, orderItem, productId, itemPrice, quantity) VALUES ( 2005, 4, 3014, 199.96, 4)
%sql {query} INSERT INTO itemsInOrder (orderId, orderItem, productId, itemPrice, quantity) VALUES ( 2005, 5, 3015, 299.95, 5)

 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.

[]

Inserts sample data for the itemsInOrder table.

In [96]:
query = """

"""
%sql {query} INSERT INTO PaymentMethods (paymentMethodId, paymentMethod) VALUES ( 6001, 'American Express')
%sql {query} INSERT INTO PaymentMethods (paymentMethodId, paymentMethod) VALUES ( 6002, 'Mastercard')
%sql {query} INSERT INTO PaymentMethods (paymentMethodId, paymentMethod) VALUES ( 6003, 'Discover')
%sql {query} INSERT INTO PaymentMethods (paymentMethodId, paymentMethod) VALUES ( 6004, 'Visa')

 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
(pymysql.err.IntegrityError) (1062, "Duplicate entry '6001' for key 'paymentmethods.PRIMARY'")
[SQL: INSERT INTO PaymentMethods (paymentMethodId, paymentMethod) VALUES ( 6001, 'American Express' )]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
(pymysql.err.IntegrityError) (1062, "Duplicate entry '6002' for key 'paymentmethods.PRIMARY'")
[SQL: INSERT INTO PaymentMethods (paymentMethodId, paymentMethod) VALUES ( 6002, 'Mastercard' )]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
(pymysql.err.IntegrityError) (1062, "Duplicate entry '6003' for key 'paymentmethods.PRIMARY'")
[SQL: INSERT INTO PaymentMethods (paymentMethodId, paymentMethod) VALUES ( 6003, 'Discover' )]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
(pymysql.err.IntegrityError) (1062, "Duplicate entry '6004' for key 'paymentmethods.PRIMARY'")
[SQL: INSERT INTO PaymentMethods (paymentMethodId, paymentMethod) VALUES ( 6004, 'Visa' )]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

Inserts sample data for the PaymentMethods table.

In [97]:
query = """

"""
%sql {query} INSERT INTO States (stateId, state) VALUES ( 7001, 'ME')
%sql {query} INSERT INTO States (stateId, state) VALUES ( 7002, 'MD')
%sql {query} INSERT INTO States (stateId, state) VALUES ( 7003, 'MA')
%sql {query} INSERT INTO States (stateId, state) VALUES ( 7004, 'MI')
%sql {query} INSERT INTO States (stateId, state) VALUES ( 7005, 'MN')

 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.

[]

Inserts sample data for the States table.

In [98]:
query = """

"""
%sql {query} INSERT INTO ShippingServices (shippingServiceId, shippingService) VALUES ( 8001, 'DHL')
%sql {query} INSERT INTO ShippingServices (shippingServiceId, shippingService) VALUES (  8002, 'USPS')
%sql {query} INSERT INTO ShippingServices (shippingServiceId, shippingService) VALUES (  8003, 'UPS')
%sql {query} INSERT INTO ShippingServices (shippingServiceId, shippingService) VALUES (  8004, 'FedEx')

 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.

[]

Inserts sample data for the ShippingServices table.

In [99]:
query = """

"""
%sql {query} INSERT INTO ShippingMethods (shippingMethodId, shippingMethod) VALUES ( 9001, 'Expedited')
%sql {query} INSERT INTO ShippingMethods (shippingMethodId, shippingMethod) VALUES ( 9002, 'Overnight')
%sql {query} INSERT INTO ShippingMethods (shippingMethodId, shippingMethod) VALUES ( 9003, 'Priority')
%sql {query} INSERT INTO ShippingMethods (shippingMethodId, shippingMethod) VALUES ( 9004, 'Flat-rate')
%sql {query} INSERT INTO ShippingMethods (shippingMethodId, shippingMethod) VALUES ( 9005, 'Economy')

 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.

[]

Inserts sample data for the ShippingMethods table.

In [100]:
query = """

"""
%sql {query} INSERT INTO Payments (paymentId, customerId, paymentMethodId, creditCardNumber, nameOnCard, expirationDate) VALUES ( 4001, 1001, 6002, '2019384756129384', 'Emma Thompson',  '05/2028')
%sql {query} INSERT INTO Payments (paymentId, customerId, paymentMethodId, creditCardNumber, nameOnCard, expirationDate) VALUES ( 4002, 1002, 6004, '4671892304567890', 'Alexander Lee',  '03/2029')
%sql {query} INSERT INTO Payments (paymentId, customerId, paymentMethodId, creditCardNumber, nameOnCard, expirationDate) VALUES ( 4003, 1003, 6002, '2556783491236789', 'Sophia Patel',  '07/2028')
%sql {query} INSERT INTO Payments (paymentId, customerId, paymentMethodId, creditCardNumber, nameOnCard, expirationDate) VALUES ( 4004, 1004, 6004, '4132987654321098', 'Lucas Garcia',  '05/2029')
%sql {query} INSERT INTO Payments (paymentId, customerId, paymentMethodId, creditCardNumber, nameOnCard, expirationDate) VALUES ( 4005, 1005, 6002, '2345678901234567', 'Olivia Williams',  '09/2028')

 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.

[]

Inserts sample data for the Payments table.

In [101]:
query = """

"""
%sql {query} INSERT INTO Shipments (shipmentId, orderId, street, city, stateId, zipCode, shippingServiceId, shippingMethodId, shipmentDate, deliveryDate) VALUES ( 5001, 2001, '39 Oak Street', 'Rockville', 7002,  20850, 8003, 9004, '2023-6-16', '2023-6-18')
%sql {query} INSERT INTO Shipments (shipmentId, orderId, street, city, stateId, zipCode, shippingServiceId, shippingMethodId, shipmentDate, deliveryDate) VALUES ( 5002, 2002, '17 Willow Lane', 'Germantown', 7002,  20874, 8004, 9005, '2023-08-19', '2023-08-21')
%sql {query} INSERT INTO Shipments (shipmentId, orderId, street, city, stateId, zipCode, shippingServiceId, shippingMethodId, shipmentDate, deliveryDate) VALUES ( 5003, 2003, '42 Pine Street', 'Silver Spring', 7002, 20901, 8003, 9004, '2024-06-20', '2024-06-22')
%sql {query} INSERT INTO Shipments (shipmentId, orderId, street, city, stateId, zipCode, shippingServiceId, shippingMethodId, shipmentDate, deliveryDate) VALUES ( 5004, 2004, '78 Elm Avenue', 'Belmont', 7003,  02478, 8004, 9005, '2024-06-25', '2024-06-27')
%sql {query} INSERT INTO Shipments (shipmentId, orderId, street, city, stateId, zipCode, shippingServiceId, shippingMethodId, shipmentDate, deliveryDate) VALUES ( 5005, 2005, '215 Maple Road', 'Chelsea', 7003,  02150, 8003, 9004, '2024-08-22', '2024-08-24')

 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.
 * mysql+pymysql://akshayvaithi:***@localhost:3306/av763proj
1 rows affected.

[]

Inserts sample data for the Shipments table.